h1 {
	font-family: arial, verdana, sans-serif;
}
p {
	font-family: georgia, serif;
}


h2 {
	font-family: arial, verdana, sans-serif;
	font-size: 50px;
}
p {
	font-family: georgia, serif;
}

h3 {
	font-family: arial, verdana, sans-serif;
	font-size: 50px;
	font-weight: bolder;
}
p {
	font-family: georgia, serif;
}

h4 {
	font-family: arial, verdana, sans-serif;
	font-size: 25px;	
	font-variant: small-caps;
}
p {
	font-family: georgia, serif;
}

h5 {
	font-family: arial, verdana, sans-serif;
	font-size: 25px;	
	font-variant: small-caps;
	font-style: oblique;
}
p {
	font-family: georgia, serif;
}

h6 {
	font-family: arial, verdana, sans-serif;
	font-size: 25px;	
	font-variant: small-caps;
	font-style: oblique;
}
p {
	font-family: georgia, serif;
	line-height: 50px;
}